<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.takuo.mbedremounter</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>m=/Volumes/MBED; if [ -d $m -a $(diskutil info $m | egrep -c "Read-Only Volume.*Yes") == 1 ]; then d=$(df | grep MBED | awk "{print \$1}"); umount $d; mkdir -p $m; mount -w -o sync -t msdos $d $m; fi</string>
    </array>
    <key>StartOnMount</key>
    <true/>
  </dict>
</plist>

