<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
    MBED remounter
    Copyright (C) 2014, Takuo Watanabe
    http://developer.mbed.org/users/takuo/notebook/another-workaround-for-yosemite/
    This software is still in testing phase. Use it at your own risk.

    This software is distributed under Apache-2.0 license
    http://opensource.org/licenses/Apache-2.0
  -->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.takuo.mbedremounter</string>
    <key>Program</key>
    <string>/usr/bin/python</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/bin/python</string>
      <string>/usr/local/share/mbedremounter/mbedremounter.py</string>
    </array>
    <key>StartOnMount</key>
    <true/>
  </dict>
</plist>

